<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="~/Css/NavbarCss.css" rel="stylesheet" />
</head>
<body>
    <div class="topnav" id="myTopnav">
        <a href="~/Index/Index">Home</a>
        @if (User.IsInRole("u"))
        {
            <a href="~/Index/favori">Favorilerim</a>
            <a href="~/Index/signout">Sign out</a>
        }
        else
        {
            <a href="~/Index/signin">Sign in</a>
            <a href="~/Index/signin">Sign up</a>
        }
        <a href="javascript:void(0);" class="icon" onclick="myFunction()">
            <i class="fa fa-bars"></i>
        </a>
    </div>
    <script>
        function myFunction() {
            var x = document.getElementById("myTopnav");
            if (x.className === "topnav") {
                x.className += " responsive";
            } else {
                x.className = "topnav";
            }
        }
    </script>

</body>
</html>

